
requests

fastapi==0.100.0  # Framework pour créer des APIs
uvicorn==0.22.0   # Serveur pour exécuter FastAPI
scikit-learn==1.3.0  # Bibliothèque pour l'apprentissage machine
pandas==1.5.3     # Manipulation de données
numpy==1.24.4     # Calculs numériques (utilisé par scikit-learn)
httpx==0.28.1     # Requêtes HTTP pour les tests de FastAPI
pytest==8.3.4     # Outil de tests
